<div class="hero-full-screen">

  <div class="middle-content-section">
    <h1>WeighEnough</h1>
    <%= link_to "Boats", boats_path, class: "button large" %>
    <%= link_to "Rowers", rowers_path, class: "button large" %>
  </div>

</div>

<div id="main-content-section" data-magellan-target="main-content-section">
  <!-- your content goes here -->
</div>