<div id="app">

</div>
<div class='home-alignment'>
  <div class="middle-content-section">
    <h1>Rowers</h1>
    <%= link_to "Create Rowers", new_rower_path, class: "button large" %>
    <%= link_to "Rower Roster", rowers_path, class: "button large" %>
  </div>

  <div class="middle-content-section">
    <h1>Boats</h1>
    <%= link_to "Create Boats", boats_path, class: "button large" %>
    <%= link_to "Boat Roster", "/boat-roster", class: "button large" %>
  </div>
</div>

