
$hero-full-screen-text-color: white;

.hero-full-screen{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("https://www.row2k.com/graphics/pod/041017.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;

  .middle-content-section {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #00000091;
  }
}

.top-bar {
  background-image: linear-gradient(#037cc5, #3b68c9, #455fba, 	#3f579f);

  a{
    color: #acacac;
  }
}
.main-rower-div{
  color: white;
}