
$hero-full-screen-text-color: white;

body{
  background-image: url("https://www.row2k.com/graphics/pod/041017.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;

  .middle-content-section {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #00000091;
  }
}
.home-alignment{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-bar {
  background-image: linear-gradient(#037cc5, #3b68c9, #455fba, 	#3f579f);

  a{
    color: #acacac;
  }
}
.rower-main-container{
  height: 100vh;
  color: white;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.roster-text {
  color: black;
  text-align: left;
}
.roster-table{
  max-width: fit-content;
  margin-right: 6rem;
}
.roster-show-table{
  display: flex;
  margin: 0 auto;
}

.boats-main-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.lineup-container{
  height: 300px;
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  width: 650px;
  img{
    max-width: 80px;
  }
}
.shell-container{
  margin: 4rem;
}

.shell-table{
  max-width: fit-content;
}
.seat-form{
  max-width: fit-content;
}